textarea.insert-post-form {
  height: 200px;
}

ol.posts {
  list-style: none;
  li {
    padding: 10px;
    border: 1px solid #EEEEEE;
    p {
      margin-bottom: 0;
    }
  }
}

form.insert-post-form {
  margin-bottom: 0;
  input[type=submit] {
    margin-bottom: 0;
  }
}
