textarea.insert-post-form {
  height: 200px;
}

.post {
  padding: 10px;
  border: 1px solid #EEEEEE;
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  p.formatted-date, a.author {
    color: #D5D5D5;
  }
  p {
    margin-bottom: 0;
  }
  margin-bottom: 20px;
}

form.insert-post-form {
  margin-bottom: 0;
  input[type=submit] {
    margin-bottom: 0;
  }
}

button.remove-post {
  margin-top: -8px;
}
