<template name="posts">
  <div class="row">
    <div class="twelve columns">
      <form data-id="insert-post-form" class="insert-post-form">
        <textarea class="u-full-width insert-post-form" placeholder="Write something..." data-id="body"></textarea>
        <button type="button" class="u-pull-left" data-id="clear-form">Clear form</button>
        <input type="submit" class="button-primary u-pull-right" value="Submit">
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="twelve columns">
      <form data-id="search-posts-form">
        <input type="text" class="u-full-width" placeholder="Search posts..." data-id="search-query">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      {{#if Template.subscriptionsReady}}
        {{#if posts.count}}
          <ol class="posts">
            {{#each posts}}
              <li>
                {{simpleFormat body}}
                <hr>
                <p class="u-pull-left author">{{author}}</p>
                {{#if belongsPostToUser}}
                  <button class="u-pull-right no-button remove-post" data-id="remove-post"><i class="fa fa-trash"></i></button>
                {{/if}}
                <p class="u-pull-right formatted-date">{{fullTimeDate createdAt}}</p>
                <div class="clear"></div>
              </li>
            {{/each}}
          </ol>
          <button class="u-full-width" data-id="load-more">Load more</button>
        {{else}}
          <div class="alert info">There are no matching posts to display</div>
        {{/if}}
      {{else}}
        <div class="text-center">Loading posts...</div>
      {{/if}}
    </div>
  </div>
</template>
