<template name="signUp">
  <div class="container">
    <div class="row">
      <div class="four columns offset-by-four">
        <form data-id="sign-up-form">
          <h1 class="text-center">Sign up</h1>
          <label for="email">E-Mail</label>
          <input type="email" id="email" class="u-full-width" placeholder="E-Mail" data-id="email">
          <label for="username">Username</label>
          <input type="text" id="username" class="u-full-width" placeholder="Username" data-id="username">
          <label for="password">Password</label>
          <input type="password" id="password" class="u-full-width" placeholder="Password" data-id="password">
          <label for="repeat-password">Repeat password</label>
          <input type="password" id="repeat-password" class="u-full-width" placeholder="Repeat password" data-id="password-repetition">
          <input type="submit" class="button-primary u-full-width" value="Sign up">
        </form>
        <hr>
        <a href="{{pathFor 'signIn'}}" class="button u-full-width">Sign in</a>
      </div>
    </div>
  </div>
</template>
