<template name="feed">
  <div class="row">
    <div class="twelve columns">
      <form class="search-posts-form" data-id="search-posts-form">
        <input type="text" class="u-full-width" placeholder="Search posts..." data-id="search-query">
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="twelve columns">
      <div class="text-center">
        <ul class="feed-filter">
          <li><button type="button" class="{{activeIfFilterIs 'all'}}" data-id="all">All</button></li>
          <li><button type="button" class="{{activeIfFilterIs 'following'}}" data-id="following">Following</button></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="twelve columns">
      <form data-id="insert-post-form">
        {{>textareaAutocomplete settings=settings data-id="body" class="u-full-width insert-post-form" rows="1" placeholder="Write something..." }}
        <input type="submit" class="button-primary u-pull-right" value="Submit">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      {{#each posts}}
        {{> post post=this}}
      {{/each}}
      {{#if Template.subscriptionsReady}}
        {{#unless instance.postsCount.get}}
          <div class="alert info">There are no matching posts to display</div>
        {{/unless}}
        {{#if hasMorePosts}}
          <button class="u-full-width" data-id="load-more">Load more</button>
        {{/if}}
      {{else}}
        <div class="text-center">Loading posts...</div>
      {{/if}}
    </div>
  </div>
</template>
