<template name="footer">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <div class="text-center">
            Made with <i class="fa fa-heart"></i> by our <a href="https://github.com/GravityProject/gravity/graphs/contributors" target="_blank">community</a>
          </div>
          <div class="text-center">
            Join us at <a href="https://github.com/GravityProject/gravity" target="_blank"><i class="fa fa-github"></i> GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
