<template name="jobBoard">
  {{#if showAllJobs}}
    <div class="row">
      <div class="twelve columns">  
        <button id="postJobButton" class="button-primary">Post Job</button>    
        <form data-id="search-jobs-form">
          <input type="text" class="u-full-width" placeholder="Search jobs..." data-id="search-jobs-query">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        {{#each jobs}}
          <div id="{{_id}}" class="small-profile">
            <b>{{title}}</b> <br/>
            {{location}} <br/>
            {{formatDate createdOn}}
            {{#if isAuthor author}}
              <button class="u-pull-right no-button" data-id="remove-job">
                <i class="fa fa-trash"></i>
              </button> 
              <button class="u-pull-right no-button" data-id="edit-job">
                <i class="fa fa-pencil"></i>
              </button>
            {{/if}}
          </div>
        {{/each}}
        {{#if Template.subscriptionsReady}}
          {{#unless instance.jobsCount.get}}
            <div class="alert info">There are no matching jobs to display</div>
          {{/unless}}
          {{#if hasMoreJobs}}
            <button class="u-full-width" data-id="load-more">Load more</button>
          {{/if}}
        {{else}}
          <div class="text-center">Loading jobs...</div>
        {{/if}}   
      </div>
    </div>
  {{else}}
    {{#if showSingleJob}}
      {{> singleJob}}
    {{else}}
      {{> addJob}}
    {{/if}}
  {{/if}} 
</template>

<template name="singleJob">
  <button class="allJobsButton">All Jobs</button>
  {{#with getSingleJob}}
    <h3>{{title}}</h3> 
    {{schedule}} <br/>
    Date posted: {{formatDate createdOn}} <br/>
    Location: {{location}} <br/><br/>
    <b>Description:</b> <br/>
    {{description}} <br/><br/>
    <b>Qualifications:</b> <br/>
    {{qualifications}} <br/><br/>
    <b>Responsibilities:</b> <br/>
    {{responsibilities}} <br/><br/>
    {{#if notAuthor author}}
      <button id="applyNowButton" class="button-primary">I'm Interested!</button>
    {{/if}}
  {{/with}}
</template>

<template name="addJob">
  <button class="allJobsButton">All Jobs</button>
  <form data-id="addJob-form">
    <textarea class="u-full-width addJob-single-line" rows="1" placeholder="Title" data-id="addJob-title"></textarea>
    <textarea class="u-full-width addJob-single-line" rows="1" placeholder="Location" data-id="addJob-location"></textarea>
    <select class="addJob-single-line" data-id="addJob-schedule">
      <option value="Part Time">Part Time</option>
      <option value="Full Time">Full Time</option>
      <option value="Contract">Contract</option>
      <option value="Other">Other</option>
    </select>
    <textarea class="u-full-width addJob-multi-line" rows="1" placeholder="Description" data-id="addJob-description"></textarea>
    <textarea class="u-full-width addJob-multi-line" rows="1" placeholder="Responsibilities" data-id="addJob-responsibilities"></textarea>
    <textarea class="u-full-width addJob-multi-line" rows="1" placeholder="Qualifications" data-id="addJob-qualifications"></textarea> 
    <input type="submit" class="button-primary u-pull-right" data-id="addJob-submit" value="Post">
  </form> 
</template>
