<template name="layout">
  {{> header}}
  <div class="container" style="min-height: {{instance.minHeight.get}}">
    {{# if currentUser}}
      <div class="row">
        <div class="four columns">
          {{> navigation}}
        </div>
        <div class="eight columns">
          {{> Template.dynamic template=main}}
        </div>
      </div>
    {{else}}
      <div class="row">
        <div class="four columns offset-by-four">
          {{> Template.dynamic template=main}}
        </div>
      </div>
    {{/if}}
  </div>
  {{> footer}}
</template>
