<template name="navigation">
  <div class="row">
    <div class="twelve columns">
      <div class="navigation">
        <ul>
          <li class="{{activeIfRouteNameIs 'feed'}}">
            <a href="{{pathFor 'feed'}}"><i class="fa fa-newspaper-o"></i> Feed</a>
          </li>
          <li class="{{activeIfRouteNameIs 'browseUsers'}}">
            <a href="{{pathFor 'browseUsers'}}"><i class="fa fa-users"></i> Browse users</a>
          </li>
          <li class="{{activeIfRouteNameIs 'messages'}}">
            <a href="{{pathFor 'messages'}}"><i class="fa fa-envelope"></i> Messages {{getUnreadCount}}</a>
          </li> 
          <li class="{{activeIfRouteNameIs 'jobBoard'}}">
            <a href="{{pathFor 'jobBoard'}}"><i class="fa fa-briefcase"></i> Job board</a>
          </li>
        </ul>
        <hr>
        <ul>
          <li class="{{activeIfRouteNameIs 'following'}}">
            <a href="{{pathFor 'following'}}"><i class="fa fa-arrow-left"></i> <i class="fa fa-user"></i> Following</a>
          </li>
          <li class="{{activeIfRouteNameIs 'follower'}}">
            <a href="{{pathFor 'follower'}}"><i class="fa fa-arrow-right"></i> <i class="fa fa-user"></i> Followers</a>
          </li>
          <li class="{{activeIfRouteNameIs 'updateProfile'}}">
            <a href="{{pathFor 'updateProfile'}}"><i class="fa fa-cogs"></i> Update profile</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
